*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
     background:linear-gradient(135deg,#667eea,#764ba2);
    margin:0;
    padding:0;
}


.about-container{
    width:90%;
    max-width:1200px;
    margin:30px auto;
    background:#fff;
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

.about-title{
    text-align:center;
    font-size:40px;
    color:#4a148c;
    margin-bottom:20px;
}

.about-text{
    text-align:center;
    color:#555;
    font-size:18px;
    line-height:1.8;
    margin-bottom:40px;
}

.info-section{
    display:flex;
    justify-content:space-between;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    flex:1;
    min-width:250px;
    background:#f5f5f5;
    padding:25px;
    border-radius:15px;
    text-align:center;
    transition:0.4s;
}

.card:hover{
    transform:translateY(-10px);
    background:#764ba2;
    color:white;
}

.card h2{
    margin-bottom:15px;
}

.stats{
    text-align:center;
    margin-top:40px;
}

.stats h2{
    color:#4a148c;
    margin-bottom:20px;
}
.stat-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.stat-box{
    background:#4a148c;
    color:white;
    padding:20px 35px;
    border-radius:15px;
    text-align:center;
}

.stat-box h3{
    font-size:30px;
}

.team{
    margin-top:30px;
    text-align:center;
}

.team h2{
    margin-bottom:20px;
    color:#4a148c;
}

.team-container{
    display:flex;
    justify-content:center;
    align-items: flex-start;
    gap:25px;
    flex-wrap:wrap;
    margin-top: 30px;
}

.member{
    background:#f5f5f5;
    padding:20px;
    width:220px;
    border-radius:15px;
    transition:0.4s;
}

.member:hover{
    background:#764ba2;
    color:white;
}

.member img{
    width:100px;
    height:100px;
    border-radius:50%;
    margin-bottom:10px;
}



.about{
    width:90%;
    max-width:1100px;
    margin:40px auto;
}

.about .card{
    background:white;
    padding:30px;
    margin-bottom:20px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,0.15);
}
.btn{
    display:block;
    width:180px;
    margin:30px auto;
    padding:12px 20px;
    text-align:center;
    text-decoration:none;
    background:#4a148c;
    color:white;
    border-radius:8px;
    font-size:18px;
    font-weight:bold;
    transition:0.3s;
}

.btn:hover{
    background:#6a1b9a;
    transform:translateY(-3px);
}