*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
}

/* Header */
header{
    background:#2c3e50;
    color:white;
    padding:15px;
    text-align:center;
}

nav{
    margin-top:10px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
}

/* Hero Section */
.hero{
    text-align:center;
    padding:60px 20px;
    background:#3498db;
    color:white;
}

.hero button{
    margin-top:15px;
    padding:10px 20px;
    border:none;
    background:white;
    color:#3498db;
    border-radius:5px;
    cursor:pointer;
}

/* Search */
.search{
    text-align:center;
    margin:30px;
}

.search input{
    padding:10px;
    width:250px;
}

.search button{
    padding:10px 15px;
}

/* Books */
.books{
    text-align:center;
    padding:20px;
}

.book-card{
    display:inline-block;
    background:white;
    width:180px;
    margin:10px;
    padding:15px;
    border-radius:8px;
    box-shadow:0 2px 5px rgba(0,0,0,0.2);
}

.book-card img{
    width:120px;
    height:150px;
}

/* Footer */
footer{
    background:#2c3e50;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#1565c0;
    padding:15px 40px;
}

.logo{
    color:white;
    margin:0;
}

.login-btn{
    text-decoration:none;
    color:white;
    background:#0d47a1;
    padding:10px 25px;
    border-radius:30px;
    font-weight:bold;
    transition:0.3s;
}

.login-btn:hover{
    background:white;
    color:#1565c0;
}